/*Start Global Rules*/
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f5f9;
  padding-top: 20px;
}

.bold {
  font-weight: bold;
}

/* Container */
.container {
  padding-inline: 15px;
  margin-inline: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*End Global Rules*/

.cards {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 20px;
  justify-content: center;
}

.cards2 {
  display: grid;
  grid-template-columns: repeat(1, 600px);
  gap: 20px;
  justify-content: center;
}
